{% extends "layouts/base.html" %} 

{% set title = "Biodiversity Net Gain Register - Alpha" %}

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">{{ title }}</h1>
  <p class="intro work__description">Interaction design for a new Biodiversity Net Gain Register, advancing nature's recovery by supporting housing development and increasing habitats across England by 10%. </p>

  <div class="img-group work__img">
    <img class="work__img" src="/images/work/bng.png" alt="">
    <img class="work__img" src="/images/work/bng/bng-2.png" alt="">
  </div>

  <h2>The challenge</h2>
  <p>The Environment Act (2021) requires developers to deliver a 'biodiversity net gain' as a condition of their planning permission. To deliver biodiversity gains, habitats can be enhanced on the developers own building site, or at an off-site location, by paying a landowner to manage their land for nature recovery.</p>
  <p>The problem we tried to solve; How do we collect data about off-site biodiversity gains and enable Government and local planning authorities to check that they are legitimate, accountable, and transparent?</p>

  <h2>What I did</h2>
  <p>Working in a multi-discplinary team, I used agile and design thinking methodolgy to help understand and solve problems.</p>

  <h3>Identified riskiest assumptions</h3>
  <p>To identify our riskiest assumptions and give the team focus, I helped facilitate an assumption mapping workshop, involving people from the business, policy and other key stakeholders.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-assumptions.png" alt="">
    <figcaption class="fig__caption">Assumption mapping workshop using Miro.</figcaption>
  </figure>

  <h3>Mapped out 'as-is' journeys</h3>
  <p>To understand how biodiversity net gain was currently working, I mapped out our users current journey.</p>
  <p>To create the map, I first facilitated workshops involving the business, policy and subject matter experts.</p>
  <p>Working closely with a user researcher and content designer, I validated and iterated the map with several rounds of user research. This was a great way to start understanding our users and their needs.</p>
  
  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-lpa-as-is-journey-map.jpg" alt="">
    <figcaption class="fig__caption">As-is journey map for LPA's based on research sessions Sept 2021.</figcaption>
  </figure>

  <h3>Team brainstorm</h3>
  <p>To create a shared understanding of a problem and generate lots of ideas, I facilitated design workshops, often involving the whole team so that we had lots of different perspectives on solving the problem.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-workshop.png" alt="">
    <figcaption class="fig__caption">A workshop I facilitated remotely to generate ideas on how solve a problem on capturing land data.</figcaption>
  </figure>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-workshop-ideas.png" alt="">
    <figcaption class="fig__caption">Ideas generated and theme sorted by the team during the first brainstorming activity.</figcaption>
  </figure>

  <h3>Learning by prototyping</h3>
  <p>To experiment and test ideas with users, I built various HTML prototypes using the GOV.UK Prototype Kit. Using the prototypes as stimulus to create conversations with our users, resulting in an increased understanding of their needs.</p>
  
  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-prototype.png" alt="">
    <figcaption class="fig__caption">Screenshots of a HTML prototype I built for capturing a land boundary.</figcaption>
  </figure>

  <p>After each round of research, I iterated designs and tried different solutions based on user findings. I kept track of all our design hypotheses and findings in a design decisions log. This proved extremely useful when preparing for our GDS assessment.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-design-decisions.png" alt="">
    <figcaption class="fig__caption">A design decisions log we kept in the team's Confluence space.</figcaption>
  </figure>

  <h2>Result</h2>
  <p>In March 2022, I represented design for our service at our GDS Alpha service assessment. A panel of experienced specialists from the government digital community assessed the service and agreed that we met the <a href="https://www.gov.uk/service-manual/service-standard">GDS Service Standard</a> and so we passed our Alpha assessment.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-mission-patches.png" alt="">
    <figcaption class="fig__caption">A set of mission patches I designed for the service.</figcaption>
  </figure>

</div>

{% endblock %}
