{% extends "layouts/content.html" %} 

{% set title = "Biodiversity Net Gain Register - Alpha" %}

{% block content %}
  <p class="intro work__description">Interaction design for a new Biodiversity Net Gain Register, advancing nature's recovery by supporting housing development and increasing habitats across England by 10%. </p>

  <img class="work__img" src="/images/work/bng.png" alt="">

  <div class="work__details">
    <p class="work__details--role"><span class="visually-hidden">Role: </span><strong>Interaction Design</strong></p>
    <p class="work__details--date"><span class="visually-hidden">Dates: </span>July 2021 - March 2022</p>
  </div>

  <h2>The challenge</h2>
  <p>As part of a multidisciplinary team, I had the opportunity to work on a project aimed at designing a digital solution that would allow the Government and local planning authorities to ensure the legitimacy, accountability, and transparency of off-site biodiversity gains mandated by the Environment Act (2021). Our goal was to collect data on these gains and develop a system that would verify their authenticity.</p>

  <h2>Research and design</h2>
  <p>To understand the users and their needs, we conducted several rounds of user research. We collaborated with business, policy, and subject matter experts to map out the user journey and validate our findings through additional user research.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-lpa-as-is-journey-map.jpg" alt="">
    <figcaption class="fig__caption">As-is journey map for Local Planning Authorities based on research sessions.</figcaption>
  </figure>

  <p>I facilitated design workshops to help understand problems and generate a wide range of ideas. We tested our ideas by building various HTML prototypes using the GOV.UK Prototype Kit, which we used to conduct research and gather feedback from users. We iterated on our designs based on user feedback and kept track of our progress through a design decisions log.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/flow-diagram.jpg" alt="">
    <figcaption class="fig__caption">Flow diagrams I created to explore and communicate design options.</figcaption>
  </figure>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-prototype.png" alt="">
    <figcaption class="fig__caption">HTML prototypes I built to conduct usability testing with users.</figcaption>
  </figure>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-design-decisions.png" alt="">
    <figcaption class="fig__caption">A design decisions log I created to capture our design hypotheses and research findings.</figcaption>
  </figure>

  <h2>Outcome</h2>
  <p>In March 2022, we successfully passed our GDS Alpha service assessment. A panel of experts from the government digital community assessed our service and determined that it met the GDS Service Standard.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-mission-patches.png" alt="">
    <figcaption class="fig__caption">A set of mission patches I designed for the service.</figcaption>
  </figure>

{% endblock %}

{% block section %}
  <section class="section">
    <div class="wrapper">
      <h2 id="work">More work</h2>
      <ul class="card-group">
        <li class="card card--clickable">  
          <img class="card__img" src="/images/work/nhs-service-manual.png" alt="">
          <h3 class="card__title">
            <a href="/work/nhs-digital-service-manual">NHS digital service manual</a>
          </h3>
          <p class="card__description">Building a design system for the NHS.</p>
        </li>
        <li class="card card--clickable">  
          <img class="card__img" src="/images/work/nhs-coronavirus-services.png" alt="">
          <h3 class="card__title">
            <a href="/work/nhs-coronavirus-services">NHS COVID-19 services</a>
          </h3>
          <p class="card__description">Designing critical, user centered services at pace.</p>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}