{% extends "layouts/content.html" %} 

{% set title = "Football coaching" %}

{% block content %}
  <p class="intro work__description">Planning and designing football coaching sessions.</p>

  <img class="work__img" src="/images/work/coaching.png" alt="">

  <div class="work__details">
    <p class="work__details--role"><span class="visually-hidden">Role: </span><strong>Visual Design</strong> | <strong>Football Coach</strong></p>
    <p class="work__details--date"><span class="visually-hidden">Dates: </span>2023</p>
  </div>

  <!--<p>Since 2021 I've been coaching my son's grassroots football team. I'm a part of a team of 6 volunteers who were all new to coaching. </p>-->

  <img class="work__img work__img--border" src="/images/work/coaching/coaching-plan.png" alt="">

  <img class="work__img work__img--border" src="/images/work/coaching/coaching.jpeg" alt="">

{% endblock %}

{% block section %}
{% endblock %}