{% extends "layouts/base.html" %} 

{% set title = "Leeds City Council Website" %}

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">{{ title }}</h1>
  <p class="intro work__description">Redesigning leeds.gov.uk in a user-centered way.</p>

  <img class="work__img" src="/images/work/lcc.png" alt="">

  <div class="work__details">
    <p class="work__details--role"><span class="visually-hidden">Role: </span><strong>Web Designer</strong></p>
    <p class="work__details--date"><span class="visually-hidden">Dates: </span>November 2014 - March 2018</p>
    <p class="work__details--url"><span class="visually-hidden">URL: </span><a href="https://www.leeds.gov.uk/">leeds.gov.uk</a></p>
  </div>

  <p>I led the redesign of Leeds.gov.uk, collaborating with a multi-disciplinary team to meet user needs and business goals. My work involved extensive user research and data analysis to develop effective solutions. I created sketches, wireframes, hi-fidelity mock-ups, and HTML prototypes to communicate design solutions to the team. Additionally, I prioritised accessibility and inclusion as the accessibility lead for the digital team, ensuring all digital services were accessible to all users, regardless of their abilities.</p>

  <img class="work__img--border" src="/images/work/lcc/card-sorting.png" alt="">
  <img class="work__img--border" src="/images/work/lcc/tree-testing.png" alt="">
  <img class="work__img--border" src="/images/work/lcc/wireframes.png" alt="">
  
</div>

{% endblock %}
