{% extends "layouts/content.html" %} 

{% set title = "Leeds City Council Website" %}

{% block content %}

  <p class="intro work__description">Redesigning leeds.gov.uk in a user-centered way.</p>

  <img class="work__img" src="/images/work/lcc.png" alt="">

  <div class="work__details">
    <p class="work__details--role"><span class="visually-hidden">Role: </span><strong>UX Design</strong> | <strong>Visual Design</strong> | <strong>Information Architecture</strong> | <strong>Frontend Development</strong></p>
    <p class="work__details--date"><span class="visually-hidden">Dates: </span>November 2014 - March 2018</p>
    <p class="work__details--url"><span class="visually-hidden">URL: </span><a href="https://www.leeds.gov.uk/">leeds.gov.uk</a></p>
  </div>

  <p>I led the redesign of Leeds.gov.uk, collaborating with a multi-disciplinary team to meet user needs and business goals. My work involved extensive user research and data analysis to develop effective solutions. I created sketches, wireframes, hi-fidelity mock-ups, and HTML prototypes to communicate design solutions to the team. Additionally, I prioritised accessibility and inclusion as the accessibility lead for the digital team, ensuring all digital services were accessible to all users, regardless of their abilities.</p>

  <img class="work__img work__img--border" src="/images/work/lcc/card-sorting.png" alt="">
  <img class="work__img work__img--border" src="/images/work/lcc/tree-testing.png" alt="">
  <img class="work__img work__img--border" src="/images/work/lcc/wireframes.png" alt="">

{% endblock %}

{% block section %}
  <section class="section">
    <div class="wrapper">
      <h2 id="work">More work</h2>
      <ul class="card-group">
        <li class="card card--clickable">  
          <img class="card__img" src="/images/work/bng.png" alt="">
          <h3 class="card__title">
            <a href="/work/biodiversity-net-gain-register">Biodiversity Net Gain Register</a>
          </h3>
          <p class="card__description">Leading interaction design for a successful GDS Alpha service assessment.</p>
        </li>
        <li class="card card--clickable">  
          <img class="card__img" src="/images/work/nhs-service-manual.png" alt="">
          <h3 class="card__title">
            <a href="/work/nhs-digital-service-manual">NHS digital service manual</a>
          </h3>
          <p class="card__description">Building a design system for the NHS.</p>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
