{% extends "layouts/base.html" %} 

{% set title = "Leeds City Council Website" %}

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">{{ title }}</h1>
  <p class="intro work__description">Redesigning leeds.gov.uk in a user-centered way.</p>

  <img class="work__img" src="/images/work/lcc.png" alt="">

  <p>I was the lead designer at Leeds City Council, responsible for the redesign of leeds.gov.uk in 2017.</p> 
  <p>I worked collaboratively in a multi-disciplinary team, conducting user research, analysing data, prototyping solutions, testing and iterating. Creating sketches, wireframes, hi-fidelity mock-ups and HTML prototypes.</p>
  <p>As the accessibility lead for the digital team, championing accessibility and inclusion for all services, at all levels throughout the council. </p>

  <p>More info to follow.</p>
  <p><a href="/contact/">Contact me</a> if you want to find out more about my involvement in the project.</p>
  
</div>

{% endblock %}
