{% extends "layouts/base.html" %} 

{% set title = "NHS digital service manual" %}

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">{{ title }}</h1>
  <p class="intro work__description">Building a design system for the NHS.</p>

  <img class="work__img" src="/images/work/nhs-service-manual.png" alt="">

  <p>I was the interaction design lead on the <a href="https://service-manual.nhs.uk/">NHS digital sevice manual</a>, responsible for designing, developing and maintaining components for the NHS design system.</p>
  <p>More info to follow.</p>
  <p><a href="/contact/">Contact me</a> if you want to find out more about my involvement in the project.</p>
  
</div>

{% endblock %}
