{% extends "layouts/content.html" %} 

{% set title = "NHS COVID-19 services" %}

{% block content %}

  <p class="intro work__description">Designing critical, user centered services at pace.</p>

  <img class="work__img" src="/images/work/nhs-coronavirus-services.png" alt="">

  <div class="work__details">
    <p class="work__details--role"><span class="visually-hidden">Role: </span><strong>Interaction Design</strong> | <strong>Service Design</strong></p>
    <p class="work__details--date"><span class="visually-hidden">Dates: </span>February 2020 - June 2020</p>
  </div>

  <p>During the COVID-19 pandemic, I designed critical services, including the Sign up to be contacted for coronavirus vaccine studies. Maintaining a user-centred design approach was paramount, ensuring that the services we created met the needs of users. I worked quickly to deliver designs without compromising quality and accuracy, prioritising the user's experience.</p>

  <img class="work__img--border" src="/images/work/covid/user-flow.png" alt="">

  <p>Collaborating closely with stakeholders and team members, I ensured that our designs aligned with broader goals and objectives.</p>

  <h2>Results</h2>

  <p>543,234 people signed up to become a volunteer using our service (the target was 500,000).</p>

  <p>A summary of the results of a survey that was answered by 1,030 users, as reported by our user researcher:</p>
  <ul class="list">
    <li>99.7% of participants have found sign-up process easy</li>
    <li>92% have found it very easy - up from 86%</li>
    <li>55% told us that they have completed the sign-up process very quickly and another 42% described their process as quite quick.</li>
    <li>92% of participants did not have difficulties answering any questions.</li>
    <li>When we asked participants to add any comments for us - almost all of them were praising the service.</li>
    <li>Overall - users were praising the service. It appears that some of the previously stated problems users were reporting are solved.</li>
  </ul>

  <p>The project was challenging but rewarding, and I'm grateful to have contributed to something so important.</p>

{% endblock %}

{% block section %}
  <section class="section">
    <div class="wrapper">
      <h2 id="work">Other work</h2>
      <ul class="card-group">
        <li class="card card--clickable">  
          <img class="card__img" src="/images/work/nhs-website.png" alt="">
          <h3 class="card__title">
            <a href="https://digital.nhs.uk/blog/transformation-blog/2019/building-accessible-and-mobile-first-services-for-the-nhs">Building accessible and mobile-first services for the NHS</a>
          </h3>
          <p class="card__description">Blog post on NHS Digital transformation blog.</p>
        </li>
        <li class="card card--clickable">  
          <img class="card__img" src="/images/work/lcc.png" alt="">
          <h3 class="card__title">
            <a href="/work/leeds-city-council-website">Leeds City Council</a>
          </h3>
          <p class="card__description">Redesigning leeds.gov.uk in a user-centered way.</p>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}