{% extends "layouts/base.html" %} 

{% set title = "NHS digital service manual" %}

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">{{ title }}</h1>
  <p class="intro work__description">Building a design system for the NHS.</p>

  <img class="work__img" src="/images/work/nhs-service-manual.png" alt="">

  <p>I had the pleasure of working on the NHS design system and <a href="https://service-manual.nhs.uk/">NHS digital sevice manual</a>, where I collaborated with an amazing team to create a design system that was accessible, inclusive, and user-friendly.</p>

  <!--<p>As part of my role, I helped to develop guidelines and standards that ensured consistency and quality across all NHS digital services. I also made sure that the design system and service manual were always up-to-date and accurate, meeting the needs of users.</p>

  <p>In addition to my design work, I had the opportunity to mentor mid-level and graduate designers, providing guidance and support to help them grow professionally.</p>-->

  <img class="work__img--border" src="/images/work/nhs/audit.jpg" alt="">

  <p>I facilitated team workshops to help identify all the components of the website. This involved working with the team to map out the different elements of the site and ensure that everyone had a clear understanding of the design and functionality of each component.</p>
  
  <img class="work__img--border" src="/images/work/nhs/component-audit.jpg" alt="">

  <p>I took responsibility for documenting the design components and collaborated closely with the design community to uncover past user research and design rationale.</p> 
  <p>This involved conducting extensive research, documenting design decisions and their reasoning, and sharing this information with the team. By doing so, I ensured that everyone had a clear understanding of the design choices and could make informed decisions about future design iterations.</p>

  <img class="work__img--border" src="/images/work/nhs/header-component.jpg" alt="">

  <p>I utilised Sketch and Figma to explore the design language and create visual representations of the design concepts.</p> 
  <p>I built prototypes using HTML and tested them with users to get feedback on the design and usability of the product. Through this iterative process, we were able to refine the design and ensure that it met the needs of our users.</p>

  <img class="work__img--border" src="/images/work/nhs/user-research.png" alt="">

  <p>I collaborated with user researchers to conduct prototype testing with a diverse group of users. This involved working together to design test scenarios, recruit participants, and analyse user feedback to improve the product's user experience.</p>

  <img class="work__img--border" src="/images/work/nhs/frontend-code.png" alt="">

  <p>I was a top contributor to the NHS.UK Frontend. I created and maintained HTML and SASS (CSS) while adhering to the coding standards.</p>

  <img class="work__img--border" src="/images/work/nhs/guidance.png" alt="">

  <p>I collaborated closely with a content designer and the design community to develop guidance for the design system. This involved working together to ensure that the guidance accurately reflected the design principles and was communicated effectively to the intended audience.</p>

  <img class="work__img--border" src="/images/work/nhs/community-backlog.png" alt="">

  <p>I helped create the NHS community backlog, a place for teams building NHS or other health and care services to work together.</p>

  <p>Throughout my time at NHS, I advocated for working in the open, promoting accessibility and inclusion, and collaborated with the design community to further these initiatives. It was an incredible experience, and I'm proud to have been a part of such an impactful project.</p>
  
</div>

{% endblock %}
