{% extends "layouts/base.html" %} 

{% set title = "NHS COVID-19 services" %}

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">{{ title }}</h1>
  <p class="intro work__description">Designing critical, user centered services at pace.</p>

  <img class="work__img" src="/images/work/nhs-coronavirus-services.png" alt="">

  <div class="work__details">
    <p class="work__details--role"><span class="visually-hidden">Role: </span><strong>Interaction Designer</strong></p>
    <p class="work__details--date"><span class="visually-hidden">Dates: </span>February 2020 - June 2020</p>
  </div>

  <p>During the COVID-19 pandemic, I designed critical services, including the <a href="https://www.nhs.uk/sign-up-to-be-contacted-for-research">Sign up to be contacted for coronavirus vaccine studies</a>. Maintaining a user-centred design approach was paramount, ensuring that the services we created met the needs of users. I worked quickly to deliver designs without compromising quality and accuracy, prioritising the user's experience.</p>

  <p>Collaborating closely with stakeholders and team members, I ensured that our designs aligned with broader goals and objectives. The project was challenging but rewarding, and I'm grateful to have contributed to something so important.</p>

  
</div>

{% endblock %}
