{% extends "layouts/base.html" %} 

{% set title = "NHS COVID-19 services" %}

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">{{ title }}</h1>
  <p class="intro work__description">Designing critical, user centered services at pace.</p>

  <img class="work__img" src="/images/work/nhs-coronavirus-services.png" alt="">

  <p>During the COVID-19 pandemic, I had the opportunity to work on the interaction design for several critical services, including <a href="https://www.nhs.uk/sign-up-to-be-contacted-for-research">Sign up to be contacted for coronavirus vaccine studies</a>. It was a challenging time, but I'm proud to have been part of a team that could make a difference.</p>

  <p>As a designer, I kept a user-centred design approach at the forefront of everything I did. It was crucial to ensure that the services we were designing met the needs and expectations of users.</p>

  <p>Given the urgency of the situation, I worked at a rapid pace to deliver designs quickly, without sacrificing quality and accuracy. It was essential to keep up with the demands of the situation, while ensuring that the user's experience was always the top priority.</p>

  <p>Throughout the project, I collaborated closely with stakeholders and other team members to ensure that our designs aligned with the broader goals and objectives of the initiatives. It was a challenging but rewarding experience, and I'm grateful for the opportunity to have contributed to something so important.</p>

  
</div>

{% endblock %}
