{% extends "layouts/content.html" %} 

{% set title = "NHS digital service manual" %}

{% block content %}

  <p class="intro work__description">Building a design system for the NHS.</p>

  <img class="work__img" src="/images/work/nhs-service-manual.png" alt="">

  <div class="work__details">
    <p class="work__details--role"><span class="visually-hidden">Role: </span><strong>Interaction Design</strong> | <strong>Visual Design</strong> | <strong>Service Design</strong> | <strong>Frontend Development</strong></p>
    <p class="work__details--date"><span class="visually-hidden">Dates: </span>March 2019 - July 2021</p>
    <p class="work__details--url"><span class="visually-hidden">URL: </span><a href="https://service-manual.nhs.uk/">service-manual.nhs.uk</a></p>
  </div>

  <p>I collaborated with an amazing team to create an accessible, inclusive, and user-friendly design system for the NHS.</p>

  <img class="work__img--border" src="/images/work/nhs/audit.jpg" alt="">

  <img class="work__img--border" src="/images/work/nhs/component-audit.jpg" alt="">

  <img class="work__img--border" src="/images/work/nhs/templates.jpg" alt="">

  <p>I facilitated workshops to identify design components and documented past user research and design rationale.</p>

  <img class="work__img--border" src="/images/work/nhs/header-component.jpg" alt="">

  <img class="work__img--border" src="/images/work/nhs/user-research.png" alt="">

  <p>Using Sketch and Figma, I created visual representations and built HTML prototypes for iterative user testing.</p> 

  <img class="work__img--border" src="/images/work/nhs/frontend-code.png" alt="">

  <img class="work__img--border" src="/images/work/nhs/guidance.png" alt="">

  <p>I contributed code to the NHS.UK Frontend and collaborated with a content designer and the design community to develop guidance for the design system.</p>

  <img class="work__img--border" src="/images/work/nhs/community-backlog.png" alt="">

  <p>Additionally, I helped create the NHS community backlog, a place for teams building NHS or other health and care services to work together.</p>

  <p>During my time at NHS, I promoted open collaboration, accessibility, and inclusion in design. I worked closely with the design community to advance these initiatives, and I'm proud of the significant impact we achieved. I'm excited about the future potential of the NHS digital service manual, as highlighted in <a href="https://deanvipond.medium.com/a-short-ish-history-of-the-nhs-design-system-part-6-2022-where-next-d3cfc303c2a3">a Medium blog post by my former colleague, Dean Vipond</a>.</p>

{% endblock %}

{% block section %}
  <section class="section">
    <div class="wrapper">
      <h2 id="work">More work</h2>
      <ul class="card-group">
        <li class="card card--clickable">  
          <img class="card__img" src="/images/work/nhs-gov-blog-post.png" alt="">
          <h3 class="card__title">
            <a href="https://medium.com/@dave_hunter_/making-the-nhs-uk-focus-state-accessible-with-help-from-gov-uk-8989cab3ec7d">Making the NHS.UK focus state accessible (with help from GOV.UK)</a>
          </h3>
          <p class="card__description">Blog post on Medium.</p>
        </li>
        <li class="card card--clickable">  
          <img class="card__img" src="/images/work/nhs-coronavirus-services.png" alt="">
          <h3 class="card__title">
            <a href="/work/nhs-coronavirus-services">NHS COVID-19 services</a>
          </h3>
          <p class="card__description">Designing critical, user centered services at pace.</p>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
