{% extends "layouts/base.html" %} 

{% set title = "The NHS website" %}

{% block mainInner %}

<div class="wrapper">
  <h1 class="work__header">{{ title }}</h1>
  <p class="intro work__description">Designing an accessible and mobile-first website for the NHS.</p>

  <img class="work__img" src="/images/work/nhs-website.png" alt="">

  <p>I was responsible for redesigning <a href="https://www.nhs.uk">the NHS website</a> (www.nhs.uk), that receives over 40 million unique visits a month.</p>
  <p>More info to follow.</p>
  <p><a href="/contact/">Contact me</a> if you want to find out more about my involvement in the project.</p>
  
</div>

{% endblock %}
