{% extends "layouts/base.html" %} 

{% set title = "About" %}

{% block mainInner %}

<div class="wrapper">
  <h1>About me</h1>
  <p class="intro">I'm an interaction / UX designer, based in Menston, West Yorkshire.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/about/about-family.png" alt="">
    <figcaption class="fig__caption">My son, dog and I posing on top of Ilkley Moor.</figcaption>
  </figure>
  
  <p>When I'm not working, I spend most days walking my dog, building Lego with my children, silly dancing with my daughter, coaching my son's football team or relaxing with my wife and cats.</p>

  <p>You can follow <a href="https://www.instagram.com/custardlabrador/">my dog Custard on Instagram</a>.</p>


</div>

{% endblock %}
