{% extends "layouts/base.html" %} 

{% set title = "About" %}

{% block mainInner %}

<div class="wrapper">
  <h1>About me</h1>

  <figure class="fig reading-width">
    <img class="fig__img" src="/images/about/about-family.png" alt="">
    <figcaption class="fig__caption">Me on top of Ilkley Moor with Hamish and Custard.</figcaption>
  </figure>

  <p>Born and raised in Stockport. I moved across the penines in 2004 to study Business and Communication Technology at Leeds Metropolitan University. My first module was web design and I fell in love with it straight away. My dad sent me a copy of Macromedia Studio MX and I was away! Using Dreamweaver to build websites for friends and family, creating images with Fireworks and animating with Flash. Good times.</p>
  <p>After University I worked as a graphic designer for a small food manufacturing company, responsible for designing brochures, newspaper ads, vehicle branding, food packaging... allsorts really. It was fun. I learned a lot about colour theory, imagery, typography, composition. Vital skills for any designer.</p>
  <p>I then ventured into user interface design.</p>

  <h2>Things I like and dislike</h2>
  
  <p class="list-intro">I like:</p>
  <ul>
    <li>walking my dog <a href="https://www.instagram.com/custardlabrador/">@CustardLabrador</a></li>
    <li>supporting Stockport County</li>
    <li>coaching my son's football team</li>
    <li>watching films</li>
    <li>listening to podcasts and all types of music</li>
    <li>collecting football shirts</li>
    <li>building Lego</li>
    <li>going out running</li>
  </ul>

  <p class="list-intro">I dislike:</p>
  <ul>
    <li>frogs - just a bit weird, aren't they?</li>
  </ul>

</div>

{% endblock %}
