{% extends "layouts/base.html" %} 

{% set title = "Work" %}

{% block mainInner %}

<div class="wrapper">
  <h1>{{ title }}</h1>

  <ul class="card-group">
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/bng.png" alt="">
      <h3 class="card__title">
        <a href="/work/biodiversity-net-gain-register">Biodiversity Net Gain Register</a>
      </h3>
      <p class="card__description">Leading interaction design for a successful GDS Alpha service assessment.</p>
    </li>
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/nhs-service-manual.png" alt="">
      <h3 class="card__title">
        <a href="/work/nhs-digital-service-manual">NHS digital service manual</a>
      </h3>
      <p class="card__description">Building a design system for the NHS.</p>
    </li>
    <li class="card card--clickable">  
      <img class="card__img" src="https://miro.medium.com/max/1400/1*9lLzw7FgKrEEdGFeKtwZzQ.jpeg" alt="">
      <h3 class="card__title">
        <a href="https://medium.com/@dave_hunter_/making-the-nhs-uk-focus-state-accessible-with-help-from-gov-uk-8989cab3ec7d">Making the NHS.UK focus state accessible (with help from GOV.UK)</a>
      </h3>
      <p class="card__description">Medium (Blog post)</p>
    </li>
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/nhs-coronavirus-services.png" alt="">
      <h3 class="card__title">
        <a href="/work/nhs-coronavirus-services">NHS coronavirus services</a>
      </h3>
      <p class="card__description">Designing critical, user centered services at pace.</p>
    </li>
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/nhs-website.png" alt="">
      <h3 class="card__title">
        <a href="/work/the-nhs-website">The NHS website</a>
      </h3>
      <p class="card__description">Designing an accessible and mobile-first website for the NHS.</p>
    </li>
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/lcc.png" alt="">
      <h3 class="card__title">
        <a href="/work/leeds-city-council-website">Leeds City Council</a>
      </h3>
      <p class="card__description">Redesigning leeds.gov.uk in a user-centered way.</p>
    </li>
  </ul>

  <p><a class="button" href="/images/work/David Hunter - Interaction Designer - CV June 2022.pdf">Download my CV (PDF, 78 KB)</a></p>

</div>

{% endblock %}
